body{
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(11, 34, 148));
    height: 100vh; /* Высота окна браузера */
    margin: 0; /* Убираем отступы */
}

#text {
    font-family: Comic Sans, Comic Sans MS, cursive;
    position: absolut;
    text-align: center;
    color: #ffffff;
    font-size: 25px;
    background-color: black;
  }
  .box {
    width: 15em;
    border: 1px solid #333;
    padding: 8px 12px;
    background-image: linear-gradient(180deg, #000000, #ddd 40%, #ccc);
    align-items: center;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }